@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Prata&display=swap');


@font-face
{
    font-family: 'Chicago';
    src: url('../font/ChicagoFLF.ttf') format('truetype');
}

*, body, body *
{
    font-family: 'Chicago', sans-serif;
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #c2c2c2;
}

    
    h1, h2, h3
    {

        font-family: 'Times New Roman', Times, serif;

    }

    h1
    {

        font-family: "Prata", serif;
        font-weight: 400;
        font-style: normal;
        font-size:   8vh; 

        /*font-weight: bold;*/ 
        border: 2px solid black;
        border-radius: 10px;
        margin: 0px;
        padding: 10px;
        width: 100%;
        height: 20%; 

        box-shadow: rgba(32, 32, 32, 0.4) 10px 10px;

    }

    .titulo-sobre-mi, .titulo-futuros-conocimientos, .titulo-contactos, .titulo-proyectos
    {
        width:fit-content; 
        padding: 0px 10px 0px 10px; 
    }

    #proyectos-destacados .titulo 
    {
        text-align: right;
        width:fit-content;
    }

    h3
    {
        font-size: large;
        font-weight: bold;
        font-style: italic; 
        margin: 3%;
    }

    hr
    {
        margin: 5px 10px 5px 10px;
        
    }

    p, button, ul
    {
        font-family: "Chicago", sans-serif;
        font-weight: lighter;
        font-size: small;
        font-style: normal;
        text-align: justify;
        
    }

    span
    {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-size: small;
        font-style: normal;
        text-align: center;
        
    }

    button
    {
        padding: 10px; 
        background-color: transparent;
        /* Los dos bordes de los botones con una separacion de 6px*/
        border: 3px solid black;
        outline: 1px solid black;
        outline-offset: -6px;

        border-radius: 10px; 
    }

    button:active
    {
        border: 3px inset black;
        background-color: #c2c2c2;
    }

    button:hover
    {
        
    }

    p
    {
        padding: 5px;
    }

    header, section
    {

        height: 90vh;
        width: 100wh;

    }

    /* Se reparte los elementos de forma lateral */
    .encabezado, .informacion-contacto 
    {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
    }

    .mitad-pantalla-horizontal
    {   
        height: 100%;
        width:  50%; 
    }

    .container
    {
        border: 2px solid black;
        box-shadow: rgba(20, 20, 20, 0.5) 5px 5px;
        padding: 10px;
        background-color: white;
    }

    /* Se centra en vertical en alieamiento izquierdo*/
    #parte-izquierdo-encabezado, #parte-derecha-encabezado
    {

        display: flex;
        align-items: center;  
        

    }

    #parte-izquierdo-encabezado
    {
        justify-content: center;
    }

    .imagen
    {   
        
        height: 240px;
        width: 240px; 
        border: 1px solid black;
        outline: 3px solid black;
        outline-offset: 3px;
        transform: rotate(45deg);

        background-position: center;
        background-size: cover;
        overflow: hidden;
    }

    .imagen img
    {
        margin-left:    -155%;
        padding-left: 17%;
        height:         155%; 
        object-fit:     cover;
        transform:      rotate(-45deg);

        filter: grayscale(100%);
    }


    nav
    {
        display: flex; 
        position: sticky;
        top: 0%;
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 8vh;
        padding: 0 10px 0px 10px; 
        background-color: transparent;
        
        /*Quitar el sombreado*/
        box-shadow: none;
        margin-top: 6.3vh;
        overflow: hidden;

    }

    .nav-contenido
    {
        display: flex; 
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        background-color: white; 
    }

    .nav-link
    {
        color: black;
    }

    .botones-encabezado
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .mitad-pantalla-vertical
    {
        display: flex;
        flex-wrap: wrap;
        height: 50%;
        width: 100%; 
    }

    .flexbox-wrap-center
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .box-hc
    {
        display: flex;
        flex-direction: column; 
        margin: 3px;
        height: auto;
        width: 90px;
        align-items: center;
    }

    .box-ep
    {
        width: 4vw;
    }

    .marco-logo
    {
        background-color: #c2c2c2;
        border: 3px outset black;
        
    }

    .marco-logo:active
    {
        border: 4px inset black;   
    }

    .box-hc p, .tecnologias p
    {
        text-align: center;
    }

    #conocimientos, #futuros-conocimientos
    {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #proyectos-destacados
    {
        height: 0%;
    }



    .proyecto
    {
        width: 100%;
        height: auto;
        border: 5px outset black;
        
    }



    .contenedor-proyecto
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%; 
    }

    .enlaces-proyecto
    {   
        display: flex;
        justify-content: center;
        height: 10vh;
        width: 100%; 
    }

    #tecnologias-proyectos
    {
        text-align: center;
    }

    .logo
    {
        height: 100%;
        width: 100%;
    }

    #imagen-proyecto-contenedor
    {
        
        display: flex;
        justify-content: center;
    }

    .imagen-proyecto
    {
        height: 35vh;
    }

    #contactos-container
    {
        display: flex;
        flex-direction: column; 
    }

    footer
    {
        width: 100%;
    }

    footer p
    {
        text-align: center;
    } 


